<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>PyFi Quotes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
  	<ul>
		<li><a href="/">Accueil</a></li>
		{% if user %}
		<li><a href="{{ url_logout }}">Se déconnecter</a></li>
		{% else %}
		<li><a href="{{ url_login }}">Se connecter/créer un compte</a></li>
		{% endif %}
		{% if user %}
		<li><a href="/ptf">Mes porteuilles</a></li>
		{% endif %}
		<li><a href="#">A Propos</a></li>
	</ul>
	<div class="container-fluid">
    	{% block content %}{% endblock %}
    </div>
    <script src="js/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    {% block js_footer %}{% endblock %}
  </body>
</html>